* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #dfdfde;
}

.clock {
  width: 350px;
  height: 350px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  box-shadow: 0px 0px 2px 5px #888888 inset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clock::before {
  height: 15px;
  width: 15px;
  content: "";
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 1000;
}

.clock .hour,
.clock .miniute,
.clock .second {
  position: absolute;
}

.clock .hour,
.hr {
  height: 160px;
  width: 160px;
}
.clock .miniute,
.min {
  height: 190px;
  width: 190px;
}
.clock .second,
.sec {
  height: 230px;
  width: 230px;
}

.hr,
.min,
.sec {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 8px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0px 0px;
}
.min::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 3px;
  background: #1290ee;
  z-index: 11;
  border-radius: 6px 6px 0px 0px;
}
.sec::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 2px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 12;
  border-radius: 6px 6px 0px 0px;
}

.number {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 25px;
  padding: 20px;
}
.item1 {
  transform: rotate(30deg);
}
.item2 {
  transform: rotate(60deg);
}
.item3 {
  transform: rotate(90deg);
}
.item4 {
  transform: rotate(120deg);
}
.item5 {
  transform: rotate(150deg);
}
.item6 {
  transform: rotate(180deg);
}
.item7 {
  transform: rotate(210deg);
}
.item8 {
  transform: rotate(240deg);
}
.item9 {
  transform: rotate(270deg);
}
.item10 {
  transform: rotate(300deg);
}
.item11 {
  transform: rotate(330deg);
}
.item12 {
  transform: rotate(360deg);
}

.number span {
  position: absolute;
}
.deg-one {
  transform: rotate(330deg);
}
.deg-two {
  transform: rotate(298deg);
}
.deg-three {
  transform: rotate(270deg);
}
.deg-four {
  transform: rotate(234deg);
}
.deg-five {
  transform: rotate(204deg);
}
.deg-six {
  transform: rotate(180deg);
}
.deg-seven {
  transform: rotate(152deg);
}
.deg-eight {
  transform: rotate(301deg);
}
.deg-nine {
  transform: rotate(93deg);
}
.deg-ten {
  transform: rotate(57deg);
}
.deg-eleven {
  transform: rotate(26deg);
}
.deg-twelve {
  transform: rotate(360deg);
}
